<section id="side">
  <ul class="collection with-header">
    <li class="collection-header">
      <div class="row center-align">
        <div class="col s4 list_side">
          <a>
            <span>Posts</span>
            <span class="count">23</span>
          </a>
        </div>
        <div class="col s4 list_side">
          <a>
            <span>Following</span>
            <span class="count">233</span>
          </a>
        </div>
        <div class="col s4 list_side">
          <a>
            <span>Followers</span>
            <span class="count">22</span>
          </a>
        </div>
      </div>
    </li>
    <li class="collection-item" routerLinkActive="active" >
      <a routerLink="/streams">
        <div>
          Streams<a class="secondary-content"
            ><i class="material-icons">announcement</i></a
          >
        </div>
      </a>
    </li>
    <li class="collection-item" routerLinkActive="active">
      <a routerLink="/people">
        <div>
          People<a class="secondary-content"
            ><i class="material-icons">people</i></a
          >
        </div>
      </a>
    </li>
    <li class="collection-item" routerLinkActive="active">
      <a routerLink="/Following">
        <div>
          Following<a class="secondary-content"
            ><i class="material-icons">person_outline</i></a
          >
        </div>
      </a>
    </li>
    <li class="collection-item" routerLinkActive="active">
      <a routerLink="/followers">
        <div>
          Followers<a class="secondary-content"
            ><i class="material-icons">person</i></a
          >
        </div>
      </a>
    </li>
    <li class="collection-item" routerLinkActive="active">
      <a routerLink="/Photos">
        <div>
          Photos<a class="secondary-content"
            ><i class="material-icons">photo_library</i></a
          >
        </div>
      </a>
    </li>
    <li class="collection-item" routerLinkActive="active">
      <a routerLink="/notifications">
        <div>
          Notifications<a class="secondary-content"
            ><i class="material-icons">notifications</i></a
          >
        </div>
      </a>
    </li>
  </ul>
</section>
