<section id="side">
  <ul class="collection with-header">
    <li class="collection-header">
      <div class="row center-align">
        <div class="col s4 list_side">
          <a>
            <span>Posts</span>
            <span class="count">23</span>
          </a>
        </div>
        <div class="col s4 list_side">
          <a>
            <span>Following</span>
            <span class="count">233</span>
          </a>
        </div>
        <div class="col s4 list_side">
          <a>
            <span>Followers</span>
            <span class="count">22</span>
          </a>
        </div>
      </div>
    </li>
    <li class="collection-item">
      <div>
        Streams<a href="#!" class="secondary-content"
          ><i class="material-icons">announcement</i></a
        >
      </div>
    </li>
    <li class="collection-item">
      <div>
        People<a href="#!" class="secondary-content"
          ><i class="material-icons">people</i></a
        >
      </div>
    </li>
    <li class="collection-item">
      <div>
        Following<a href="#!" class="secondary-content"
          ><i class="material-icons">person_outline</i></a
        >
      </div>
    </li>
    <li class="collection-item">
      <div>
        Followers<a href="#!" class="secondary-content"
          ><i class="material-icons">person</i></a
        >
      </div>
    </li>
    <li class="collection-item">
      <div>
        Photos<a href="#!" class="secondary-content"
          ><i class="material-icons">photo_library</i></a
        >
      </div>
    </li>
    <li class="collection-item">
      <div>
        Notifications<a href="#!" class="secondary-content"
          ><i class="material-icons">notifications</i></a
        >
      </div>
    </li>
  </ul>
</section>
