.tabs .indicator {
  background-color: #118ab2;
}
input:not([type]):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #118ab2;
  box-shadow: 0 2px 0 0 #118ab2;
}
.input-field > label {
  color: #118ab2;
}
input:not([type]),
input[type="text"]:not(.browser-default),
input[type="password"]:not(.browser-default),
input[type="email"]:not(.browser-default),
textarea.materialize-textarea {
  border-bottom: 1px solid #118ab2;
}
input:not([type]):focus:not([readonly]) + label,
input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
input[type="password"]:not(.browser-default):focus:not([readonly]) + label,
input[type="email"]:not(.browser-default):focus:not([readonly]) + label ,
textarea.materialize-textarea:focus:not([readonly]) + label 
{
  color: #118ab2;
}

.ngx-pagination .current{
  color: #118ab2 !important;
  background:inherit !important;
  font-weight: bold !important;
}
.ngx-pagination{
  background-color: whitesmoke !important;
}

pagination-template nav {
  width: 90% !important;
  margin: auto !important;
}
