<app-navbar></app-navbar>
<div class="container" style="margin-top: 10px">
  <div class="row">
    <div class="col s12 m5 l4">
      <app-side></app-side>
    </div>
    <div class="col s12 m5 l8">
      <div class="row header">
        <ul class="collection">
          <li class="collection-item avatar">
            <img
              src="http://placeimg.com/100/100/nature"
              alt=""
              class="circle"
            />
            <span class="title">{{ post.userId?.username }}</span>
            <p class="time">{{ timeAgo(post.createdAt) }}</p>
          </li>
        </ul>
        <div class="card">
          <div class="card-image">
            <img
              class="post-image"
              src="http://placeimg.com/400/300/nature"
              alt="post image"
            />
          </div>
          <div class="card-content post-content">
            <p class="post-text">{{ post.post }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <form [formGroup]="commentForm" (ngSubmit)="addComment()">
          <div class="row form-div">
            <div class="input-field col s12">
              <textarea
                class="materialize-textarea"
                formControlName="comment"
              ></textarea>
              <label for="textarea1">Write your comment here</label>
              <div col s12>
                <button class="btn waves-effect post-btn">
                  <i class="material-icons right">message</i>comment
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="row comments">
        <ul
          class="collection comment col s12 m10"
          *ngFor="let comment of comments | paginate: { itemsPerPage: 5, currentPage: p }"
        >
          <li class="collection-item avatar">
            <img class="circle" src="http://placeimg.com/100/100/nature" />
            <span class="title">{{ comment?.username }}</span>
            <p class="post-comment">{{ comment?.comment }}</p>
          </li>
        </ul>
      </div>
      <pagination-controls  *ngIf="comments?.length !== 0" (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>
