<div class="container">
  <div class="row">
  <div class="center-align" >
      <app-spinner *ngIf="loading"></app-spinner>
      <h4 class="red-text text-darken-3">{{errMsg}}</h4>
    </div>
    <form
      class="col s12"
      novalidate
      [formGroup]="login"
      (ngSubmit)="loginUser()"
    >
      <div class="row formInput">
        <div class="input-field col s12">
          <input formControlName="username" type="text" />
          <label for="first_name">Username</label>
        </div>
      </div>

      <div class="row formInput">
        <div class="input-field col s12">
          <input formControlName="password" type="password" />
          <label for="password">Password</label>
        </div>
      </div>
      <div class="formInput">
        <button class="btn waves-effect">Login</button>
      </div>
    </form>
  </div>
</div>
