<div class="container">
  <div class="row">
    <form class="col s12" [formGroup]="signUp" novalidate (ngSubmit) = "signupUser()">
      <div class="row formInput">
        <div class="input-field col s12">
          <input formControlName="username" type="text"  />
          <label for="first_name">Username</label>
        </div>
      </div>

      <div class="row formInput">
        <div class="input-field col s12">
          <input formControlName="email"  type="email"  />
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row formInput">
        <div class="input-field col s12">
          <input formControlName="password" type="password"  />
          <label for="password">Password</label>
        </div>
      </div>
      <div class="formInput">
        <button class="btn waves-effect">Sign Up</button>
      </div>
    </form>
  </div>
</div>
